@charset "ISO-8859-1";

table.net {
	border-collapse: collapse;
}

th, td {
	border: 1px solid grey;
	padding: 3px;
	padding-left: 8px;
}

th {
	text-align: left;
	background-color: #CCC;
}

tr.odd {
	background-color: #EEE;
	width: 1000px;
}

tr.even {
	background-color: #FFF;
	width: 250px;
}